tr:hover{

  cursor: pointer;
}

tr{
  color : grey;
}

th,td{
  padding: 0px 10px 0px 10px;
  border : 1px solid black;
}

.modal { 
	display: block;
}
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }
.pad { padding: 25px; }
.modal_cover{
    position: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top : 0px;
    background-color: #00000075;
    z-index : 99;
}

.modal_popup{
  position: fixed;
  height: 80%;
  width: 60%;
  position: fixed;
  left : 20%;
  top : 10%; ;
  background-color: white;
  z-index : 99;
  overflow-y: auto;
  padding-bottom: 5.2rem;
}

.header{
  width: 100%;
  height: 4.2rem;
  padding: 0.7rem;
  font-size: 1.7rem;
  padding-left: 2rem;
  background-color: lightgray;
}

.modal_contents{
  padding : 1.3rem;

}

table{
  width: 100%;
}
